@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;500;600;700;800&family=Roboto:wght@100;300;400&display=swap');

:root {
    --primary-color: #f9532d;
    --primary-dark: #1F252E;
}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family: 'Outfit', sans-serif;
    background: #ffffff;
    height: 100vh;
    color: #000;
}

header .container {
    width: 100%;
}


/* Genral */
.container {
    padding: 0 8.4rem;
}

.img-w {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

/* Nav */
header {
    box-shadow: 0 4px 17px rgba(0, 0, 0, .1);
    background: #fff;
    position: sticky;
    top: 0;
    z-index: 1;
}

.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.logo {
    font-size: 1.5rem;
    font-weight: 800;
    opacity: 0;
    animation: leftSideAni 1s ease forwards;
}

.logo a {
    color: #000;
    text-decoration: none;
}

ul {
    display: flex;
    gap: .6rem;
    list-style-type: none;
    background-color: transparent;
    overflow: hidden;
}

li a {
    display: inline-block;
    padding: .3rem 1rem;
    color: #000;
    text-decoration: none;
    font-size: 1.05rem;
    font-weight: 600;
    letter-spacing: .7px;
    border-radius: 36px;
    line-height: 2;
    transition: .3s;
    opacity: 0;
    animation: navani .3s ease forwards;
    animation-delay: calc(.15s * var(--navAni));
}

li a.active,
li a:hover {
    color: var(--primary-color);
}

#click {
    display: none;
}

.menu {
    display: none;
}

.mode i {
    font-size: 1.4rem;
    cursor: pointer;
    color: var(--primary-color);
    opacity: 0;
    animation: rightSideAni 1.5s ease forwards;
}

/* Nav End */

/* Section 1 */

.main {
    padding: 6rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    row-gap: 2rem;
    column-gap: 6rem;
    align-items: center;
}

.main h3 {
    color: #000;
    font-size: 1.5rem;
    opacity: 0;
    animation: topSideAni 1s ease forwards;
}

.main h1 {
    color: #000;
    font-size: 4rem;
    font-weight: 600;
    opacity: 0;
    animation: leftSideAni 1s ease forwards;
    animation-delay: 1s;
}

.social {
    display: flex;
    flex-wrap: wrap;
    gap: 1.4rem;
    margin-top: 1.4rem;
}

.social a {
    display: grid;
    place-items: center;
    text-decoration: none;
    color: var(--primary-color);
    border: 1.6px solid var(--primary-color);
    font-size: 1.5rem;
    border-radius: 50%;
    padding: 0.39rem;
    text-align: center;
    opacity: 0;
    animation: SocialAni 1s ease forwards;
    animation-delay: calc(.2s * var(--socialAni));
}

/* Media query for screens narrower than 1264px */
@media (max-width: 1264px) {
    .main {
        grid-template-columns: 1fr;
        /* Switch to single column layout */
        justify-items: center;
    }

    .main h1,
    .main h3,
    .social {
        text-align: center;
        /* Center align text and social links */
    }

    .social {
        justify-content: center;
        /* Center align social links */
    }
}


footer {
    background-color: #f9532d;
    /* height: 28vh; */
    padding: 4vh 5vw 2vh 5vw;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    bottom: 0px;
}

footer ul.end {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.four {
    display: inline-block;

}

.end {
    color: white;
}

.one {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.1rem;
    font-weight: 400;
}

.two {
    font-size: 1.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
}

.three {
    color: red;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.3rem;
    font-weight: 400;
}

footer a {
    padding-left: 0;
    padding-top: 0;
}

footer a:hover {
    color: white;
}

footer img {
    width: 136px;
    height: auto;
    padding-bottom: 2vh;
    padding-top: 3vh;
}

.visit {
    padding-top: 3vh;
    padding-bottom: 3vh;
}

.dark-mode footer ul {
    background-color: #f9532d;
}

.dark-mode {
    background-color: var(--primary-dark);
    color: #ffffff;
}

.mode input {
    display: none;
}

.dark-mode .logo a,
.dark-mode ul li a,
.dark-mode .main h3,
.dark-mode .main h1 {
    color: #fff;
}

.dark-mode {

    .form-group input:focus+.form-label,
    .form-group input:not(:placeholder-shown)+.form-label {
        transform: translate(5px, -22px);
        background-color: #1F252E;
        font-size: 14px;
        color: white;
    }
}

.form-group input {
    color: #eee;
}

.dark-mode ul li a.active,
.dark-mode ul li a:hover {
    color: var(--primary-color);
}

.dark-mode .images {
    background: linear-gradient(145deg, #1f252e, #2e3239);
    box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #1b1f27;
    margin: auto;
    overflow: hidden;
}

.dark-mode header {
    box-shadow: 0 4px 17px rgb(80 80 80 / 31%);
    background: var(--primary-dark);
}


.social a:hover {
    color: var(--primary-dark);
    background-color: var(--primary-color);
    box-shadow: 0 0 20px var(--primary-color);
    transition: all .3s ease-in-out;
}


.images {
    border-radius: 10px;
    width: 450px;
    /* opacity: 0; */
    /* animation: imageAni 1s ease forwards; */
    /* animation-delay: 1.5s */
}

.images {
    background: linear-gradient(145deg, #e2e8ec, #ffffff);
    box-shadow: 5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;
    width: 500px;
    /* Adjust the minimum, preferred, and maximum width */
    height: 500px;
    /* Adjust the minimum, preferred, and maximum height */
    border-radius: 50%;
    /* Makes the div appear as a circle */
    border: 8px solid #f9532d;
}

/* Section 1 End */


/* Animation */
@keyframes leftSideAni {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes navani {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes rightSideAni {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes topSideAni {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes SocialAni {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/* @keyframes ImgAni {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-9px);
    }
    100% {
        transform: translateX(0);
    }
} */
@keyframes imageAni {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@media screen and (max-width: 1024px) {
    .container {
        padding: 0 4.4rem;
    }

    .main h3 {
        color: #000;
        margin-top: 1rem;
    }

    .main h1 {
        font-size: 5rem;
    }
}

@media screen and (max-width: 768px) {
    .container {
        padding: 0 1.6rem;
    }

    .main h1 {
        font-size: 2rem;
    }
}

@media screen and (max-width: 575px) {
    .images {
        height: 300px;
        width: 300px;
    }
}

@media screen and (max-width:724px) {
    body {
        height: auto;
    }

    header {
        height: auto;
    }

    header ul {
        background: #fff;
        width: 100%;
        height: 100vh;
        position: absolute;
        display: flex;
        flex-direction: column;
        text-align: center;
        top: 3.4rem;
        left: -100%;
        z-index: 111111;
    }

    .menu {
        display: block;
        font-size: 1.5rem;
        font-weight: bold;
        color: var(--primary-color);
    }

    #click:checked~ul {
        left: 0%;
        transition: all 0.3s ease-in-out;
    }

    .dark-mode .menu {
        color: var(--primary-color);
    }

    .dark-mode ul {
        background: var(--primary-dark);
    }

    .mode {
        position: absolute;
        right: 4rem;
    }
}

@media screen and (max-width:600px) {


    footer ul.end {
        display: flex;
        flex-direction: column;
        row-gap: 4vh;
        justify-content: space-between;
    }

    #secele a {
        padding-right: 3px;
    }



}



/* Firefox */
/* Note: Firefox currently doesn't support styling the scrollbar other than color */
/* You can only style the scrollbar color in Firefox */
/* Here's an example to change the scrollbar color */
/* You can't change the width, track, or thumb appearance in Firefox */
/* To hide scrollbar in Firefox, you can use "overflow: hidden" on the body or container */