* {
    margin: 0;
    padding: 0;
}

/* 
body {
    min-width: 100vh;
} */
header {
    z-index: 2;
}

.options {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    overflow-x: hidden;
    justify-content: center;
}

#firstelement {
    display: inline-block;
    padding: 0.3rem 1rem;
    text-decoration: none;
    font-size: 1.05rem;
    font-weight: 600;
    letter-spacing: .7px;
    border-radius: 36px;
    line-height: 2;
    transition: .3s;
    opacity: 0;
    animation: navani .3s ease forwards;
    animation-delay: calc(.15s * var(--navAni));
    white-space: nowrap;

}

.linkopt {
    white-space: nowrap;
}

.options ul {
    list-style: none;
    white-space: nowrap;
    /* Prevent text from wrapping */
    display: flex;
    flex-wrap: wrap;
    /* Allow items to wrap */
    justify-content: center;
    /* Center items horizontally */
}

.library {
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 15px;
    padding-left: 1.9vw;
}



.grid {
    display: flexbox;
}

main img {
    height: clamp(160px, 24vh, 30vh);
    margin-right: 20px;
    padding-bottom: 20px;
    border-radius: 6px;

    aspect-ratio: 2/3;
}

.comming {
    position: relative;
    display: inline-block;
}

.comming::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    aspect-ratio: 2/3;
    height: clamp(160px, 24vh, 30vh);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 6px;
    z-index: 1;
}

.comming::after {
    content: 'Coming Soon';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
    z-index: 2;
}



@media only screen and (max-width: 600px) {
    .options {
        flex-direction: column;
        /* Stack elements vertically on smaller screens */
        align-items: center;
        /* Center items vertically */
    }

    #firstelement,
    .navigations {
        width: 100%;
        /* Ensure both elements take up full width */
        text-align: center;
        /* Center text within both elements */
    }


}