.page-links {
    margin-bottom: 10px;
    text-align: center;
    width: 40vw;

}

/* Style for the links */
.page-links a {
    display: inline-block;
    padding: 10px 15px;
    margin: 0 5px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

/* Hover effect */
.page-links a:hover {
    background-color: #0056b3;
}

.page-links {
    width: 70vw;
}

/* affilate links */
.buy img {
    display: flex;
    height: 50px;
    padding-bottom: 10px;

}


@media (max-width: 768px) {

    .page-links {
        width: 94vw;
    }

    .buy {
        width: 95vw;
    }
}