main {
    padding-top: 16px;
    margin-left: 3vw;
}

.status {

    font-size: 2.3rem;
    text-align: center;
}

.by {
    font-size: 1rem;
    text-align: center;
    margin-bottom: 9px;
}

* {
    box-sizing: border-box;
}

.booksummary {
    border: 2px solid rgba(196, 192, 192, 0.1);
    box-shadow: 0 4px 17px rgba(0, 0, 0, .1);
    border-radius: 6px;
    margin-bottom: 15px;
    padding-left: 3vw;
    padding-right: 2vw;
    padding-bottom: 3vw;
    width: 70vw;
}

.dark-mode .booksummary {
    box-shadow: 0 4px 17px rgb(80 80 80 / 31%);
}

@media screen and (max-width: 768px) {
    .booksummary {
        width: 94vw;
        padding: 0 1vw;
    }

    .main {
        padding-left: 1vw;
        margin: 10px 1vw 0 1vw;
    }


}